

<div class="main">
  <div class="copy-container">
    <h1>Posillu</h1>
  </div>
<div class="contents">
  <h3 class="section-title">出展先</h3>
        <div class="contents-item">
          <div class="contents-item">

          <img src= "/chibikko_gang.png" width="300" height="250">
          <p>ちびっこ展覧会</p>

          </div>

          <div class="contents-item"><img src="/tsugaku.png" width="300" height="250">
          </div>
          <p>小学校低学年部門</P>
          <div class="contents-item"><img src="/nyugaku_syougakusei.png" width="300" height="250">
          </div>
          <p>小学校高学年部門</p>
          <div class="contents-item"><img src="/group_student.png" width="300" height="250">
          </div>
          <p>中学生部門</p>
          <div class="contents-item"><img src="/bunkasai_students.png" width="300" height="250">
          <p>高校生部門</p>
          <div class="contents-item"><img src="/slump_good_woman_paint.png" width="300" height="250">
          </div>
          <p>うでだめし部門</p>

        </div>



</div>
